<form method="post" action="Home/Login">
    <body>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">Save your Money</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="login-wrap p-0">
                        <h3 class="mb-4 text-center">Have an account?</h3>
                        <form action="#" class="signin-form">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email" name="Email" value="linnthit77387@gmail.com" required>
                            </div>
                            <div class="form-group">
                                <input id="password-field" type="password" class="form-control" placeholder="Password" name="Password" value="nauThs9AHQPsHvf+V00PXQ==" required>
                                <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary submit px-3">Sign In</button>
                            </div>
                        </form>
                        <p class="w-100 text-center">Don' have an account? &nbsp; <a href="/Home/Register">Sign Up</a></p>
                    </div>
                </div>
            </div>
        </div>
    </body>

</form>
@section scripts {
    <script>
        $(document).ready(function () {
            var loginSuccess = '@(TempData["LoginSuccess"])';

            if (loginSuccess === 'true') {
                toastMessage("Login successful!");

                // Clear the local storage variable after displaying the toast
                localStorage.removeItem("LoginSuccess");
            }
        });

        function toastMessage(message) {
            Toastify({
                text: message,
                gravity: "top",
                position: 'right',
            }).showToast();
        }
    </script>
}